{% extends 'base2.html' %}

{% block content %}
	<br><br><br>
	<div id="topo">
	</div>

	<hr>
	<br><br>
    <h1>Criar Postagem</h1>
    {% if flash %}
        <div class="flash">{{ flash }}</div>
    {% endif %}
    <form action="{{ url_for('create_post') }}" method="post">
        <hr>
        <label for="title"><b>Título:</b></label>
        <textarea name="title" id="title" required></textarea>
		<script>CKEDITOR.replace('title');</script>
        <br>
        <hr>
        <label for="content"><b>Postagem:</b></label>
        <textarea name="content" id="content" required></textarea>
		<script>CKEDITOR.replace('content');</script>
        <br>
        <center><button type="submit">Salvar</button></center>
    </form>

{% endblock %}
